*{
  font-family: 'Space Grotesk', sans-serif;
  color: #ffffff;
}

.dark{
  background: linear-gradient(180deg, #210230, #080010);
}

.colorful-bgc{
 background: linear-gradient(25deg, #2600fc, #ff00ea); 
}





.font-bolder{
font-weight: 700;
}

.colorful-text{
  background: linear-gradient(25deg, #2600fc, #ff00ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}